<!DOCTYPE html>
<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 style="margin-left: 20px; margin-top: 20px; margin-bottom: 20px;">All Quizzes</h1>
        <div class="row" *ngIf="quizzes">
            <div class="col-md-4" *ngFor="let quiz of quizzes">
                <mat-card style="margin-top: 20px; margin-left: 20px; margin-right: 20px;" appearance="outlined">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{quiz.title}}</mat-card-title>
                        <mat-card-subtitle>{{quiz.category.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="margin-top: 10px;">
                        <p class="truncate">{{quiz.description}}</p>
                    </mat-card-content>
                    <mat-card-actions style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
                        <button mat-flat-button color="accent">View</button>
                        <button mat-flat-button color="primary" style="margin-left: 20px;">Start</button>
                        <button mat-button color="warn" style="margin-left: 10px;">Marks: {{quiz.maxMarks}}</button>
                        <button mat-button color="warn" style="margin-left: 10px;">Questions: {{quiz.numberOfQuestions}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>