<!DOCTYPE html>
<mat-card *ngFor="let quiz of quizzes" style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{quiz.title}}</mat-card-title>
        <mat-card-subtitle>{{quiz.category.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-top: 10px;">
        <p>{{quiz.description}}</p>
    </mat-card-content>
    <mat-card-actions style="margin-top: 10px; margin-bottom: 10px;">
        <button mat-flat-button color="accent">Questions</button>
        <button mat-flat-button color="primary" style="margin-left: 20px;">Update</button>
        <button mat-flat-button color="success" style="margin-left: 20px;">Attempts</button>
        <button mat-button color="warn" style="margin-left: 20px;">Total Marks: {{quiz.maxMarks}}</button>
        <button mat-button color="warn" style="margin-left: 20px;">Total Questions: {{quiz.numberOfQuestions}}</button>
        <button mat-fab color="warn" style="margin-left: auto;margin-right: 10px;" (click)="deleteQuiz(quiz.qId)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
</mat-card>
<div class="container text-center" style="margin-top: 20px;">
    <button mat-raised-button color="accent" routerLink="/admin/add-quiz">Add New Quiz</button>
</div>