<!DOCTYPE html>
<mat-card>
    <mat-card-header>
        <mat-card-title>Menu</mat-card-title>
    </mat-card-header>
    <mat-action-list>
        <!-- <div mat-subheader>Menu</div> -->
        <button mat-list-item routerLink="/admin/"><mat-icon class="mat-list-icon">home</mat-icon> Home</button>
        <button mat-list-item routerLink="/admin/profile"><mat-icon class="mat-list-icon">account_circle</mat-icon> Profile</button>
        <button mat-list-item routerLink="/admin/categories"><mat-icon class="mat-list-icon">category</mat-icon> Categories</button>
        <button mat-list-item routerLink="/admin/add-category"><mat-icon class="mat-list-icon">note_add</mat-icon> Add Category</button>
        <button mat-list-item routerLink="/admin/quizzes"><mat-icon class="mat-list-icon">quiz</mat-icon> Quizzes</button>
        <button mat-list-item routerLink="/admin/add-quiz"><mat-icon class="mat-list-icon">add_box</mat-icon> Add Quiz</button>
    </mat-action-list>
</mat-card>